.pulsate {
    animation: bounce 3s ease infinite;
    text-shadow: 0px 0px 0.5rem #c87a32;

    &:hover {
        animation: none;
    }
}

.blurEffect {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    will-change: transform;
}

@keyframes pulsate {
    from {
        text-shadow: 0px 0px 0.5rem #c87a32;
    }

    100% {
        text-shadow: 1px 0px 1.5rem #c87a32;
    }
}

@keyframes bounce {
    0% {
        transform: translate3d(0, 0, 0) scaleY(1)
    }

    40%,
    43% {
        /* animation-timing-function: cubic-bezier(.755, .05, .855, .06); */
        transform: translate3d(0, -10px, 0) scaleY(1.1)
    }

    56%,
    100% {
        transform: translate3d(0, 0, 0) scaleY(1);
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}